<?php include "head.html"; ?>
</head>

<body>
<?php include "header.html"; ?>

<main class="main main-lg padding-top">
    <div class="container text-center">
        <p>
            <h1 class="display-1">About us</h1> 
        </p>  

        <div class="container text-left lead-min">
            <p>
                <h4>What is Insane Interactions ?</h4>
                Insane Interactions is an instant messaging web application. It was delevoped to be simple, user-friendly, and respecting of our users' privacy (learn more about that here : <a class="text-success" href="index.php?module=module_privacy">Privacy Policy</a>. This website was developed from stratch entirely by the three of us. 
            </p>
            
        </div>
    </div>
</main>

<?php include "footer.html"; ?>
