        <footer class="border-top">
            <div class="container-fluid">
                <nav class="nav justify-content-center text-muted">
                    <a class="nav-link" href="index.php?module=module_about">About</a>
                    <span class="navbar-text">-</span>
                    <a class="nav-link" href="index.php?module=module_help">Help</a>
                    <span class="navbar-text">-</span>
                    <a class="nav-link" href="index.php?module=module_contact">Contact us</a>
                    <span class="navbar-text">-</span>
                    <a class="nav-link" href="index.php?module=module_stats">Statistics</a>
                </nav>
            </div>
        </footer>

        <!-- Optional JavaScript, always at the end -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

        <!-- <script src="include/templates/js/checkForm.js"></script> -->

        <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

        <!-- Initialize Bootstrap functionality -->
        <script>
        // Initialize tooltip component
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        // Initialize popover component
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
        </script>    
    </body>
</html>
