<?php include "head.html"; ?>
</head>

<body>
<?php include "header.html"; ?>

<main class="main-lg padding-top">
    <div class="container text-center">
        <p>
            <h1 class="display-1">Help</h1> 
        </p>  

        <div class="container">
            <a class="text-left" data-toggle="collapse" href="#question1" aria-expanded="false" aria-controls="question1">
                <h4 class="display-3 text-success">What is Insane Interactions? </h4>
            </a>
            <div class="text-right padding-left lead-min collapse" id="question1">
                Insane Interactions is an easy to use instant messaging app, we hope you enjoy it ! 
            </div>

            <hr>

            <a class="text-left" data-toggle="collapse" href="#question2" aria-expanded="false" aria-controls="question2">
                <h4 class="display-3 text-success">Do I need to pay to access your service ? </h4>
            </a>
            <div class="text-right padding-left lead-min collapse" id="question2">
                Of course not ! 
            </div>

            <hr>

            <a class="text-left" data-toggle="collapse" href="#question3" aria-expanded="false" aria-controls="question3">
                <h4 class="display-3 text-success">Do I need to enter personal information to access your service?</h4>
            </a>
            <div class="text-right padding-left lead-min collapse" id="question3">
                Nope. Not necessarily at least. All you need to access a chatroom is a username and a password! Of course, if
                you happen to lose your password and didn't register your email, we won't be able to help you. 
            </div>

            <hr>

            <a class="text-left" data-toggle="collapse" href="#question4" aria-expanded="false" aria-controls="question4">
                <h4 class="display-3 text-success">You didn't answer my question, what can I do ?</h4>
            </a>
            <div class="text-right padding-left lead-min collapse" id="question4">
                We're sorry we didn't answer your question ! You can contact us using this form <a class="text-success" href="index.php?module=module_contact">Contact Us</a>
            </div>
        </div>
    </div>
</main>

<?php include "footer.html"; ?>
