    <?php include "head.html"; ?>
        <link href="include/templates/css/light.css" rel="stylesheet">
    </head>

    <body class="background-404">
        <main class="main-lg padding-top-xl">
            <div class="container text-center">
                <a class="logo logo-lg" href="index.php">
                    <?php include "logo.html"; ?>
                </a>
                <p>
                    <h1 class="display-1">ERROR 404</h1>
                </p>
                
                <svg height="10" width="100" class="line"><line x1="0" y1="0" x2="100" y2="0" style="stroke-width:5" /></svg>
                <h3 class="lead">Sorry, we are still looking for your page...</h3>
            </div>
        </main>
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>