<?php include "head.html"; ?>
    <link href="include/templates/css/light.css" rel="stylesheet">
</head>

<body>
<?php include "header.html"; ?>

<main class="d-flex align-items-center padding-top-xxl">
    <div class="container text-center bg-white borders">
        <p>
            <h1 class="display-2">
                Change your password
            </h1>
        </p>
        <hr>
        <p>
            <?php echo $error ?>
            <form action="index.php?module=module_password" method="post" id="needs-validation">
                <div class="form-group">
                    <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="Old password" required>
                    <div class="invalid-feedback text-left">
                        Please provide your old password.
                    </div>
                </div>
                
                <div class="form-group">
                    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New password" required>
                    <div class="invalid-feedback text-left">
                        Please provide your new password.
                    </div>
                </div>
                
                <div class="form-group">
                    <input type="password" class="form-control" id="newPasswordRepeat" name="newPasswordRepeat" placeholder="Confirm new password" required>
                    <div class="invalid-feedback text-left">
                        Please repeat your new password.
                    </div>
                </div>
                <p>
                    <button type="submit" class="btn btn-dark btn-lg">Submit</button>
                </p>  
            </form>
        </p>
    </div>
</main>

<script src="include/templates/js/validation.js"></script>
<?php include "footer.html"; ?>