<?php include "head.html"; ?>
</head>

<body>
<?php include "header.html"; ?>

<main class="main padding-top main-lg">
    <div class="container text-center">
        <p>
            <h1 class="display-1">Privacy Policy</h1> 
        </p> 

        <div class="container text-left lead-min">
            Privacy is important to us, that's why we developed this app trying to get as little information from our users as possible.<strong> We do not not collect any information other than those you directly give us</strong>. If you have more questions on the subject, we invite you to read the f.a.q below or to contact us using our <a href="index.php?module=module_contact">Contact Us</a> form. 

            <p>
                <h4>What personal information do we collect from the people that visit our site ?</h4>
                If ou are simply visiting no information will be collecting on you. When registering you are required to enter at least a username and a password.
            </p>
            
            <p>
                <h4>When do we collect information?</h4>
                We collect information from you when you register on our site or enter information on our site. The only information we possess are those you directly give us when you sign up and fill in your profile (optional).
            </p>
            
            <p>
               <h4>How do we use your information?</h4>
                The only way your information is used is to make your experience on our website possible. 
            </p>
            
            <p>
               <h4>How do we protect your information?</h4>
                All stored password are encrypted. Sadly, the messages you send using our website aren't encrypted at the moment.  
            </p>
            
            <p>
                <h4>Do we use 'cookies'?</h4>
                Yes. Cookie are necessary to the functioning of our website, if cookies are disabled in your browser, you may not have access to our services.
            </p>
            
            <p>
                <h4>What if I disable cookies in my browser ? </h4>
                If you turn cookies off, Some of the features that make your site experience more efficient may not function properly.
            </p>
            
            <p>
                <h4> Third-party disclosure</h4>
                <strong>We do not sell, trade, or otherwise transfer</strong> to outside parties your personal informations.
            </p>
            
            <p>
                <h4>Third-party links</h4>
                We do not include or offer third-party products or services on our website. 
            </p>
            
            <p>
                <h4>What if you change your privacy policy ?</h4>
                If our privacy policy changes, you will be notified via email if you specified one on your profile. If not, the changes will be indicated on this page.  
            </p>
            
        </div>
    </div>
</main>

<?php include "footer.html"; ?>