<?php include "head.html"; ?>
    <link href="include/templates/css/dark.css" rel="stylesheet">
</head>

<body class="background-welcome">
<?php include "header.html"; ?>

<main class="d-flex align-items-center main-lg padding-top-xxl">
    <div class="container text-center">
        <h1 class="display-1">
            A <strong>simple</strong> yet <strong>secure</strong> chat
        </h1>
        <p class="lead">
            Insane Interactions is a chat that is easy to use, good-looking and yet that still cares about your <strong>privacy</strong>.
            We want you to feel <strong>safe</strong> when using our services, because safety is, we believe, one of most important feeling that any being can have.
        </p>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 no-padding">
                    <a href="index.php?module=module_create"><button type="button" class="btn btn-light btn-lg margin-sm">Create a conversation</button></a>
                </div>
                <div class="col-lg-6 no-padding">
                    <a href="index.php?module=module_join"><button type="button" class="btn btn-light btn-lg margin-sm">Join a conversation</button></a>
                </div>
            </div>
        </div>
    </div>
</main>

<?php include "footer.html"; ?>