.sidepanel {
    position: fixed;
    height: 100%;
    z-index: 100;
    top: 65px;
    width: 250px;
    max-width: 250px;
    padding: 50px 10px 0 0;
    background-color: #343a40 !important;
    overflow-x: hidden;
}

.sidepanel a {
    padding: 20px 8px 0 30px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    font-size: 20px;
}

.sidepanel a:hover {
    color: #4998a7;
}

.sommaire {
    padding-top: 30px;
    padding-left: 30px;
    color: #4998a7 !important; 
    text-align: center !important;
    font-size: 30px !important;
    text-decoration: underline;
}

.fa-circle{
    color: #4998a7;
    margin-right: 5px;
    font-size: 10px;
    vertical-align: middle !important;
    padding-bottom: 0.8%;
}

#section_container, #intro_container {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.section_content {
  text-align: justify;
  text-justify: inter-word;
}

#article_title {
    margin-top: 10px;
    font-size: 60px;
    color: #424242;
    text-align: center;
}

.section_title {
    color: #4998a7;
    margin-bottom: 8px;
}

.section_article{
    margin-top: 30px ;
}

#Synopsis {
    color: #4998a7;
}

#article_cat, #article_date_crea, #article_date_modif {
    color: #4998a7;
    text-align: left;
    font-size: 30px;
    margin-bottom: 15px;
}

.black_link:hover{
    color:#4998a7 !important;
}

#email_message1, #email_message2, #email_username {
    text-align: center;
}

#email_message1 {
    margin-top: 10vh;
    font-size: 80px;
}

#email_message2, #email_text_pseudo  {
    font-size: 30px;
    margin-top: 15px;
}

#email_username {
    color: #4998a7;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
}

.div_btn_back{
    text-align: center;
}

.btn_back_from_validation{
    font-size: 25px !important;
    margin-top: 40px;
    background-color: #424242;
    color: #4998a7;
    border-width: 2px !important;
}

.btn_back_from_validation:hover{
    background-color: #ffffff;
    color: #424242;
    border-color: #424242 !important;
}

#email_text_pseudo{
    text-align: center;
    color: #424242;
}

.star_article {
    color: #4998a7;
    font-size: 50%;
    vertical-align: middle !important;
    padding-bottom: 0.8%;
    margin-left: 15px;
}

.star_index{
    color: #424242;
    font-size: 80%;
    vertical-align: middle !important;
    padding-bottom: 0.8%;
    margin-left: 5px;
}

#article_content {
    margin-left: 20vw;
    margin-right: 5vw;
}

@media (max-width: 1160px) {

    .sidepanel {
        width: 0;
        padding: 0;
    }

    #article_content {
        margin-left: 0;
        margin-right: 0;
    }
}

