body {
  margin: 0;
  font-family: 'Arvo', serif;
}

.header {
  background-color: #ddd;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 28px;
}

.link-header-container {
  display: inline;
}


.link-header-item {
  display: inline;
}

.link-header-item-a{
  color: black;
  padding-left:0.5em;
}

.main {
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.main-container {
  min-height: 85vh;
  max-height: 85vh;
  overflow: auto;
}

.main-chat {
  max-width: 35vh;
  min-height: 85vh;
  max-height: 85vh;
  background-color: #0f6674;
}

.main-info {
  max-width: 35vh;
  min-height: 85vh;
  max-height: 85vh;
  background-color: #0f6674;
}

.footer {
  position: fixed;
  height: 3vh;
  bottom: 0;
  width: 100%;
  background-color: #ddd;
}

.button_style {
  width: 200px;
  background-color: darkseagreen;
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
}

.chat{
  min-height: 60vh;
  max-height: 60vh;
  overflow:auto;
}

.info{
  /*min-height: 85vh;
  max-height: 85vh;*/
  overflow:auto;
  padding: 15px;
}

.infotext {
  color: white;
}

.formulaire{
  display: table;
  margin: auto;
}

.label-lenght-fix{
  width: 15em;
  display: inline-block;
  vertical-align: top;
  margin: auto;
}

em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}

.error-message{
  color: red;
}

