body {
  margin: 0;
  font-family: 'Arvo', serif;
}

.header {
  background-color: #ddd;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.link-header-container {
  display: inline;
}

.link-header-item {
  display: inline;
}

.link-header-item-a{
  color: black;
  padding-left:0.5em;
}

.logo-container {
  font-size: 28px;
}

.main {
  /*width: 100%;*/
}

.main-container {
  min-height: 85vh;
  max-height: 85vh;
  overflow:scroll;
}

.main-chat {
  max-width: 20em;
  min-height: 85vh;
  max-height: 85vh;
  background-color: #0f6674;
}

.main-info {
  max-width: 20em;
  min-height: 85vh;
  max-height: 85vh;
  background-color: #0f6674;
}

.footer {
  min-height: 5vh;
  max-height: 5vh;
  background-color: #ddd;
}


.project_navigation_button {
  width: 700px;
  height: 50px;
  text-align: center;
}

.button_style {
  width: 200px;
  background-color: darkseagreen;
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
}

.organisation_navigation_button {
  width: 700px;
  height: 50px;
  text-align: center;
  display: inline-block;
}
.chat{
  min-height: 70vh;
  max-height: 70vh;
  overflow:scroll;
}

.info{
  min-height: 85vh;
  max-height: 85vh;
  overflow:scroll;
}

.formulaire{
  display: table;
  margin: auto;
}

.label-lenght-fix{
  width: 15em;
  display: inline-block;
  vertical-align: top;
  margin: auto;
}

em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}
