@import url('https://fonts.googleapis.com/css?family=Numans');
html,body {
  margin: 0;
  font-family: 'Roboto', Courier, monospace;
  font-weight: 800;
}

#title_Wikipediie {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 50px;
}

#affiche_name {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 30px;
}

.inscription_input, .connection_input {
    outline : none;
}
input.inscription_input {
    width: 370px !important;
    margin-left: 1rem;
    margin-right: 1rem
}

.mdl-button, .connection_input{
    border-radius: 50px;
}

#connection_btn {
    border-color: white !important;
    border-style: solid;
    padding-bottom: 34px;
    border-width: 2px;
    padding-top: 0px;
}

.mdl-layout__drawer {
    border: 0px;
}
.mdl-layout__header {
    background-color: #424242;
}

::-moz-selection {
  background-color: #424242;
  color: #fff;
}

::selection {
  background-color: #424242;
  color: #fff;
}

/* Icon dans la barre de gauche */
.icon-image {
  height: 150px;
  width: auto;
  background-color: #424242;
  border-radius: 100px;
  margin-top: 5px;
  margin-left: 13px;
  margin-right: 0;
}

.mdl-layout-title {
    background-color: white ;
    border: 0px;
    margin: -1px;
}

.separator {
    height: 1px;
    background-color: #424242;
    margin: 8px 0;
}

.separator_content {
    height: 4px;
    background-color: #424242;
    margin: 8px 0;
}

span.mdl-navigation__link {
    color: #424242 !important;
    font-weight: bold;
}

.connection_input {
    margin: 20px;
    background-color: white;
    text-indent: 10%;
    color: black;
}

a {
    text-decoration: none;
    color: #424242;
}

div {
    line-height: normal;
}

.alertField, .section_account .mdl-cell--2-col span {
    color: red !important;
}
.sucessField {
    color: #72b312 !important;
}

.section_account span {
    color: #4998a7;
}

.shake {
    animation: shake 0.7s ease-in-out 0s;
}

#div_inscription  {
    text-align: center;
}

/* .section_account {
    border-style: solid;
    border-radius: 50px;
}
 */

@keyframes shake {
    0% { margin-left: 0rem; margin-right: 0rem; }
    20% { margin-left: 1rem; margin-right: -1rem; }
    40% { margin-left: -1rem; margin-right: 1rem; }
    60% { margin-left: 1rem; margin-right: -1rem; }
    80% { margin-left: -1rem; margin-right: 1rem; }
    100% { margin-left: 0rem; margin-right: 0rem; }
}

/**** Mobile layout ****/
@media (max-width: 900px) {

    div.mdl-cell.mdl-cell--12-col {
        font-size: 3vh;
    }

    #title_Wikipediie {
        display: none;
    }

    .connection_input {
        margin: 0.2vh 2vw;
        margin-left: 0;
        text-indent: 2vw;
        width: 20vw;
        font-size: 100%;
        height: 3vh;
    }

    .connection_button {
        margin-right: -5px;
        height: 5.5vh;
        width: 20vw;
        padding: 0px 0.2vw 0px 0.2vh;
        font-size: 2.5vh;
        line-height: 2vh;
    }


}