<div class="card text-center mx-auto bg-light mb-3" style="width: auto; margin-top:50px;">
    <div class="card-header bg-info text-white display_list_article"><h4>Utilisateur : %%USERNAME%%</h4></div>
    <br>
    <div class="row">
        <div class="col-5 display_list_article"><h5 class="">Message:</h5></div>
        <div id="message" class="col-12 display_list_article"><p class="black_text">%%MSG%%</p>
        </div>
    </div>
    <br>
    <div class="row">
        <button class="btn btn_admin" onclick="validateModo('%%USERNAME%%')">Accepter demande</button>
        <button class="btn btn_admin_remove" onclick="removeModo('%%USERNAME%%')">Supprimer la demande</button>
    </div>
</div>