<div class="card text-center mx-auto bg-light mb-3" style="width: 1000px; margin-top:50px;">
    <button class="title_index" onclick="get_article('%%ID_PAGE%%')">
        <div class="card-header bg-info text-white display_list_article"><h4>%%TITLE%%%%VALIDATE%%</h4></div>
    </button>
    <br>
    <div class="row">
        <div id="synopsis" class="col-12 display_list_article"><p class="black_text">%%SYNOPSIS%%</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-5 display_list_article"><h5 class="black_text">Categories: %%CATEGORIE%%</h5></div>       
        <div class="col-3 display_list_article"><h6>Création: <span class="blue_text">%%CREATION_DATE%%</span></h6></div>
        <div class="col-4 display_list_article"><h6>Dernière modification: <span class="blue_text">%%MODIF_DATE%%</span></h6></div>
    </div>
</div>