<!doctype HTML>
<html>
    <head>
        <title>Accueil</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel = "stylesheet" href = "Vue/Style/formulaire.css">
    </head>
    <body>
        <div class = "formulaires">
            <div class = "connexion">
                <div class = "formulaire">
                    <label>Adresse e-mail</label>
                    <input type = "email" class = "champ_formulaire" id = "id_user" name = "id_user" required />
                    
                    <label>Mot de passe</label>
                    <input type = "password" class = "champ_formulaire" id = "mdp" name = "mdp" required />

                    <input type = "submit" class = "bouton" value = "Connexion" />
                </div>
            </div>

            <div class = "inscription">
                <div class = "formulaire">
                    <label>Adresse e-mail</label>
                    <input type = "email" class = "champ_formulaire" id = "id_user" name = "id_user" required />
                    
                    <label>Mot de passe</label>
                    <input type = "password" class = "champ_formulaire" id = "mdp" name = "mdp" required />

                    <input type = "submit" class = "bouton" value = "Inscription" />
                </div>
            </div>
        </div>
    </body>
</html>