<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ingrédients</title>
  </head>
  <body>
    <div class="ingredientsview">
      <h1>Liste des ingredients</h1>
      {% for d in data %}
          <li>{{ d.nom }}</li>
      {% endfor %}
    </div>

    <div class="ingredientsform">
      <h1>Ajouter un ingredient</h1>
      <form class="" action="index.html" method="post">
          <input type="text" name="" value="">
      </form>
      <select class="" name="">
      </select>
    </div>
  </body>
</html>
