.fav_recipe, .recipe_frigo{
    display: inline-grid;
    width: 40%;
    margin: 20pt;
}

p{
    text-align: justify;
}

.recipe{
    background-color: lightslategray;
    margin: 5pt;
    padding: 5pt;
}