{% extends 'base.html.twig' %}

{% block title %}LeMangaFrancais | {% trans %}Home{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
    <section>
        <div class="h1 text-center mt-2">
            Bienvenue sur notre super site web
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}
