{% extends 'base.html.twig' %}

{% block title %}Frigo | Home{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section>
        <div class="h1 text-center mt-2">
            Bienvenue sur notre super site web
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
