{% extends 'base.html.twig' %}

{% block title %}Frigo | Home{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section>
        <div class="h1 text-center mt-2">
            Bienvenue sur notre super site web
        </div>
        <img class="rounded mx-auto d-block" src="https://cdn.dribbble.com/users/228367/screenshots/3783181/boil-boil-dribbble.gif" alt="panda">
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
