{% extends 'base.html.twig' %}

{% block title %}Frigo | Home{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel = "stylesheet" type = "text/css" href = "css/home/home_index.css">
{% endblock %}

{% block body %}
    <section>

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                <li data-target="#myCarousel" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="first-slide" src="https://www.lanutrition.fr/sites/default/files/styles/article_large/public/ressources/dlc.jpg?itok=46cNrT2z" alt="First slide">
                    <div class="container">
                        <div class="carousel-caption text-left">
                            <h1>v0.2.5 : Nouvelle version !</h1>
                            <p>Une nouvelle version va bientôt faire surface, elle vous permettra de pouvoir éviter le gaspillage en vous avertissant lors de l'approche de dates de péremptions.</p>
                            <p><a class="btn btn-lg btn-primary" href="/ingredient" role="button">Commencer maintenant</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="second-slide" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnlGp00s-TQZdek5UOnXUMKz9cws_IPmuFAA&usqp=CAU" alt="Second slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Nous vous demandez plus ce que vous avez dans le frigo !</h1>
                            <p>Avec FRIGO, plus besoin de se demander ce que vous avez dans vos rangements. Ce dernier regroupe tout ce dont vous avez besoin !</p>
                            <p><a class="btn btn-lg btn-primary" href="/register" role="button">S'inscrire</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="third-slide" src="https://www.foodette.fr/wp-content/uploads/2019/11/1910_Poulet_miel_sesame_HD-copie-1.jpg" alt="Third slide">
                    <div class="container">
                        <div class="carousel-caption text-right">
                            <h1>Nous vous conseillons des recettes en fonction des aliments que vous possédez !</h1>
                            <p>Choisir son repas n'a jamais été aussi simple, en quelques clics il vous est désormais possible de choisir une recette et de mettre à jour vos stocks.</p>
                            <p><a class="btn btn-lg btn-primary" href="/recettes" role="button">Accéder aux recettes</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Précédent</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Suivant</span>
            </a>
        </div>

        <div class="container marketing">
            <div class="row">
                <div class="col-lg-4">
                    <img class="rounded-circle" src="https://www.lanutrition.fr/sites/default/files/styles/article_large/public/ressources/dlc.jpg?itok=46cNrT2z" alt="Generic placeholder image" width="140" height="140">
                    <h2>Anti-Gaspi</h2>
                    <p>Disposez d'une liste de vos aliments et soyez prévenus lorsque l'approche de la date de péremption. De plus, les recettes vous seront proposées en fonction de toutes les informations à disposition.</p>
                    <p><a class="btn btn-secondary" href="#" role="button">BIENTOT DISPONIBLE »</a></p>
                </div>
                <div class="col-lg-4">
                    <img class="rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnlGp00s-TQZdek5UOnXUMKz9cws_IPmuFAA&usqp=CAU" alt="Generic placeholder image" width="140" height="140">
                    <h2>Renseignez vos ingrédients</h2>
                    <p>Avec FRIGO, plus besoin de se demander ce que vous avez dans vos rangements. Ce dernier regroupe tout ce dont vous avez besoin !</p>
                    <p><a class="btn btn-secondary" href="#" role="button">Ingrédients »</a></p>
                </div>
                <div class="col-lg-4">
                    <img class="rounded-circle" src="https://www.foodette.fr/wp-content/uploads/2019/11/1910_Poulet_miel_sesame_HD-copie-1.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h2>Recevez des recettes</h2>
                    <p>Choisir son repas n'a jamais été aussi simple, en quelques clics il vous est désormais possible de choisir une recette et de mettre à jour vos stocks.</p>
                    <p><a class="btn btn-secondary" href="#" role="button">Recettes »</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
